<!DOCTYPE html>
<html>

<head>
  <title>/polls/:id</title>
  <link href="https://fonts.googleapis.com/css?family=Old+Standard+TT" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/polls_id.css" type="text/css" />
  <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
  <!-- FIND NEW jQuery UI CDN. This one isn't official, but it works, while the official isn't working for me -->
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
</head>

<body>
  <div class="jumbotron">
    <form id="poll">
      <header class="header">
        <h1 class="poll-name"><%=poll[0].pollName%></h3>
    </header>

    <section id="options" name="/polls/<%= id %>">
      <% poll.forEach(function(option) { %>
      <aside class="option">
        <h4 class="option-name" data-optionId="<%=option.id%>" data-name="<%=option.optionName%>"><%=option.optionName%>
        </h4>
      </aside>
      <% }) %>
    <button type="button" class="btn button" data-toggle="button" aria-pressed="false" autocomplete="off" data-pollId="<%= id %>">
      <input type="submit" name="Submit" class="btn">
    </button>
  </form>
</div>


<section class="completed" hidden>
  <p>Thank you for completing the poll!</p>
</section>

<script type="text/javascript" src="/scripts/polls_id.js"></script>
</body>
</html>
